*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:white;

font-family:Arial, Helvetica, sans-serif;

display:flex;

justify-content:center;

padding:60px 0;

}



/* JOURNAL */

.journal{

position:relative;

width:900px;

background:linear-gradient(

180deg,

#fffdf8,

#fff5e8,

#fffdf8

);

padding:420px 60px 80px;

box-shadow:

0 0 45px rgba(0,0,0,.18);

border-radius:8px;

min-height:1700px;

}



/* TITLE */

.title{

text-align:center;

font-size:90px;

line-height:90px;

margin-bottom:90px;

font-weight:bold;

text-shadow:

3px 3px white,

5px 5px 12px rgba(0,0,0,.18);

}



/* COLORS */

.red{color:#ff5b5b;}
.orange{color:#ff9800;}
.yellow{color:#ffd600;}
.green{color:#34c759;}
.blue{color:#4285f4;}
.purple{color:#8b5cf6;}
.pink{color:#ff5db1;}



/* PHOTOS */

.photo{

position:absolute;

width:220px;

padding:10px;

background:white;

border-radius:8px;

box-shadow:

0 12px 30px rgba(0,0,0,.25);

transition:.3s;

}

.photo:hover{

transform:scale(1.05);

}



/* PHOTO POSITIONS */

.p1{

top:40px;

left:40px;

transform:rotate(-9deg);

}

.p2{

top:70px;

right:40px;

transform:rotate(8deg);

}

.p3{

top:250px;

left:120px;

transform:rotate(7deg);

}

.p4{

top:280px;

right:120px;

transform:rotate(-8deg);

}

.p5{

top:140px;

left:340px;

transform:rotate(3deg);

z-index:2;

}



/* NOTES */

.notes{

display:grid;

grid-template-columns:1fr 1fr;

gap:35px;

margin-top:40px;

}



.note{

background:white;

padding:25px;

border-radius:12px;

font-size:20px;

line-height:1.6;

text-align:center;

box-shadow:

0 8px 18px rgba(0,0,0,.12);

border-left:8px solid #ffd34d;

}



.note:nth-child(even){

transform:rotate(2deg);

}

.note:nth-child(odd){

transform:rotate(-2deg);

}